{% extends 'base.html' %}
{% block title %}{{ tag }}{% endblock %}


{% block content %}
<h5>{{ tag }}</h5>
<form method="post">
  <div class="form-group">
    <textarea class="form-control" rows="8" id="src" name="src">{{ src }}</textarea>
  </div>
  <div class="form-group">
    <label for="table"><b>Table</b></label>
    <textarea class="form-control" rows="1" id="table" name="table">{{ table }}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Encode</button>
  <br><br>
  <div class="form-group">
    <textarea class="form-control" rows="8" id="dest" name="dest">{{ dest }}</textarea>
  </div>
</form>
{% endblock %}