{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <!-- <h3>Encode</h3> -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="encode/b16encode">b16encode</a></li>
        <li class="breadcrumb-item"><a href="encode/b32encode">b32encode</a></li>
        <li class="breadcrumb-item"><a href="encode/b58encode">b58encode</a></li>
        <li class="breadcrumb-item"><a href="encode/b64encode">b64encode</a></li>
        <li class="breadcrumb-item"><a href="encode/b85encode">b85encode</a></li>
        <li class="breadcrumb-item"><a href="encode/b91encode">b91encode</a></li>
    </ol>
    <!-- <h3>Decode</h3> -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="decode/b16decode">b16decode</a></li>
        <li class="breadcrumb-item"><a href="decode/b32decode">b32decode</a></li>
        <li class="breadcrumb-item"><a href="decode/b58decode">b58decode</a></li>
        <li class="breadcrumb-item"><a href="decode/b64decode">b64decode</a></li>
        <li class="breadcrumb-item"><a href="decode/b85decode">b85decode</a></li>
        <li class="breadcrumb-item"><a href="decode/b91decode">b91decode</a></li>
    </ol>
</nav>
{% endblock %}