{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="hash/MD5">MD5</a></li>
        <li class="breadcrumb-item"><a href="hash/SHA1">SHA1</a></li>
        <li class="breadcrumb-item"><a href="hash/SHA224">SHA224</a></li>
        <li class="breadcrumb-item"><a href="hash/SHA256">SHA256</a></li>
        <li class="breadcrumb-item"><a href="hash/SHA384">SHA384</a></li>
        <li class="breadcrumb-item"><a href="hash/SHA512">SHA512</a></li>
    </ol>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="encode/Base16encode">Base16encode</a></li>
        <li class="breadcrumb-item"><a href="encode/Base32encode">Base32encode</a></li>
        <li class="breadcrumb-item"><a href="encode/Base58encode">Base58encode</a></li>
        <li class="breadcrumb-item"><a href="encode/Base64encode">Base64encode</a></li>
        <li class="breadcrumb-item"><a href="encode/Base85encode">Base85encode</a></li>
        <li class="breadcrumb-item"><a href="encode/Base91encode">Base91encode</a></li>
    </ol>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="decode/Base16decode">Base16decode</a></li>
        <li class="breadcrumb-item"><a href="decode/Base32decode">Base32decode</a></li>
        <li class="breadcrumb-item"><a href="decode/Base58decode">Base58decode</a></li>
        <li class="breadcrumb-item"><a href="decode/Base64decode">Base64decode</a></li>
        <li class="breadcrumb-item"><a href="decode/Base85decode">Base85decode</a></li>
        <li class="breadcrumb-item"><a href="decode/Base91decode">Base91decode</a></li>
    </ol>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="disassembly">Disassembly</a></li>
    </ol>
</nav>
{% endblock %}