{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Hash</li>
        <li class="breadcrumb-item"><a href="hash/MD5">MD5</a></li>
        <li class="breadcrumb-item"><a href="hash/SHA1">SHA1</a></li>
        <li class="breadcrumb-item"><a href="hash/SHA224">SHA224</a></li>
        <li class="breadcrumb-item"><a href="hash/SHA256">SHA256</a></li>
        <li class="breadcrumb-item"><a href="hash/SHA384">SHA384</a></li>
        <li class="breadcrumb-item"><a href="hash/SHA512">SHA512</a></li>
    </ol>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Encode</li>
        <li class="breadcrumb-item"><a href="encode/Base16encode">Base16</a></li>
        <li class="breadcrumb-item"><a href="encode/Base32encode">Base32</a></li>
        <li class="breadcrumb-item"><a href="encode/Base58encode">Base58</a></li>
        <li class="breadcrumb-item"><a href="encode/Base64encode">Base64</a></li>
        <li class="breadcrumb-item"><a href="encode/Base85encode">Base85</a></li>
        <li class="breadcrumb-item"><a href="encode/Base91encode">Base91</a></li>
    </ol>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Decode</li>
        <li class="breadcrumb-item"><a href="decode/Base16decode">Base16</a></li>
        <li class="breadcrumb-item"><a href="decode/Base32decode">Base32</a></li>
        <li class="breadcrumb-item"><a href="decode/Base58decode">Base58</a></li>
        <li class="breadcrumb-item"><a href="decode/Base64decode">Base64</a></li>
        <li class="breadcrumb-item"><a href="decode/Base85decode">Base85</a></li>
        <li class="breadcrumb-item"><a href="decode/Base91decode">Base91</a></li>
    </ol>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Encrypt</li>
        <li class="breadcrumb-item"><a href="encrypt/block/AES">AES</a></li>
        <li class="breadcrumb-item"><a href="encrypt/block/DES">DES</a></li>
        <li class="breadcrumb-item"><a href="encrypt/block/DES3">DES3</a></li>
        <li class="breadcrumb-item"><a href="encrypt/block/RC2">RC2</a></li>
        <li class="breadcrumb-item"><a href="encrypt/stream/RC4">RC4</a></li>
        <li class="breadcrumb-item"><a href="encrypt/block/Blowfish">Blowfish</a></li>
        <li class="breadcrumb-item"><a href="encrypt/stream/XOR">XOR</a></li>
    </ol>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Decrypt</li>
        <li class="breadcrumb-item"><a href="decrypt/block/AES">AES</a></li>
        <li class="breadcrumb-item"><a href="decrypt/block/DES">DES</a></li>
        <li class="breadcrumb-item"><a href="decrypt/block/DES3">DES3</a></li>
        <li class="breadcrumb-item"><a href="decrypt/block/RC2">RC2</a></li>
        <li class="breadcrumb-item"><a href="decrypt/stream/RC4">RC4</a></li>
        <li class="breadcrumb-item"><a href="decrypt/block/Blowfish">Blowfish</a></li>
        <li class="breadcrumb-item"><a href="decrypt/stream/XOR">XOR</a></li>
    </ol>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Reverse</li>
        <li class="breadcrumb-item"><a href="disassembly">Disassembly</a></li>
    </ol>
</nav>
{% endblock %}